{% extends 'base.html' %}
{% load static %}


{% block content %}

    {% if query %}
        <div class="card bg-light text-dark text-center">
            <div class="card-body">
                <h4> Результат по запросу: {{ query }} || количество: {{ count_post_search }}</h4>
            </div>
        </div>
    {% endif %}

        {% if post_search %}
    {% for item in post_search %}
<div class="card mb-3">
    <h5 class="card-header">
        Название: {{ item.title }} || Author: {{ item.author }}</h5>

    <div class="card-body">
        <div class="media">

            {% if item.image %}
            <img src="{{ item.image.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="{% static 'all/img/no-image-available.jpg' %}" alt="" width="350" >
            {% endif %}



            <div class="media-body"></div>
            <p class="card-text">{{ item.text|safe|linebreaks|truncatewords:"50" }}</p>
            <a href= "{{ item.get_absolute_url }}" class="btn-index">Read more...</a>
            <hr>
            {% for tag in item.tags.all %}
            <a class="btn btn-info" href="{% url 'post_by_tag' tag.pk %}" role="button">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="card-footer text-muted">
        Data {{ item.created | date:"d-m-Y H:i:s" }},
        Time has passed: {{ item.created | timesince }}
    </div>
</div>

{% endfor %}

    {% else %}

    <div class="card mb-3 mt-5">
    <h5 class="card-header" align="center"> No Posts  </h5>
    </div>

    {% endif %}







{% endblock %}



