{% extends 'base.html' %}
{% load static %}



{% block content %}
    {% if post %}
    {% for item in post %}
<div class="card mb-3">
    <h5 class="card-header">
        Название: {{ item.title }} || Author: {{ item.author }}</h5>

    <div class="card-body">
        <div class="media">

            {% if item.image %}
            <img src="{{ item.image.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="{% static 'all/img/no-image-available.jpg' %}" alt="" width="350" >
            {% endif %}



            <div class="media-body"></div>
            <p class="card-text">{{ item.text|safe|linebreaks|truncatewords:"50" }}</p>
            <a href= "{{ item.get_absolute_url }}" class="btn-index">Read more...</a>
            <hr>
            {% for tag in item.tags.all %}
            <a class="btn btn-info" href="{% url 'post_by_tag' tag.pk %}" role="button">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>



    <div class="card-footer text-muted">
        Data {{ item.created | date:"d-m-Y H:i:s" }},
        Time has passed: {{ item.created | timesince }}
    </div>
</div>

{% endfor %}

    {% else %}

    <div class="card mb-3 mt-5">
    <h5 class="card-header" align="center"> No Posts  </h5>
    </div>

    {% endif %}

 <div class="pagination">
        <span class="step-links">
          {% if post.has_previous %}
            <a href="?page=1" class="btn btn-light">&laquo; first</a>
            <a href="?page={{ post.previous_page_number }}" class="btn btn-light">previous</a>
          {% endif %}
            <span class="current">
                Page {{ post.number }} of {{ post.paginator.num_pages }}.
            </span>
          {% if post.has_next %}
            <a href="?page={{ post.next_page_number }} " class="btn btn-light">next</a>
            <a href="?page={{ post.paginator.num_pages }}" class="btn btn-light">last &raquo;</a>
          {% endif %}
          </span>
      </div>




{% endblock %}




