{% extends 'base.html' %}




{% block content %}

    {% for item in post %}
<div class="card mb-3">
    <h5 class="card-header">
        Название: {{ item.title }} || Author: {{ item.author }}</h5>

    <div class="card-body">
        <div class="media">
            <img src="{{ item.image.url }}" alt="" width="350" class="mr-3">
            <div class="media-body"></div>
            <p class="card-text">{{ item.text|safe|linebreaks|truncatewords:"50" }}</p>
            <a href= "{{ item.get_absolute_url }}" class="btn-index">Read more...</a>
        </div>

        <div class="comment">
            {#        Проверяет наличие коментариев к посту#}
            <a href="#"> Add comment</a>
            <br/>
            <br/>
            {% if item.comments.all %}

                    <h5> Comments: </h5>
                  {% for comm in item.comments.all %}

                      <strong>
                      {{ comm.author }} -
                      {{ comm.created }}
                      </strong>
                      <br/>
                      {{ comm.text }}
{#                       <div class="brd">#}
{#                       <p> {{ comm.text }} </p>#}
{#                       <p>Author:  {{ comm.author }} </p>#}
{#                       </div>#}
                  {% endfor %}
            {% else %}
                <h3> No comments </h3>
            {% endif %}
           <br/>
           <a href="#"> Add comment</a>
         </div>
    </div>
    <div class="card-footer text-muted">
        Data {{ item.created | date:"d-m-Y H:i:s" }},
        Time has passed: {{ item.created | timesince }}
    </div>
</div>

{% endfor %}

{% endblock %}




