{% load static %}


  <div class="card" >
  <img src="{% static 'all/img/django.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Django</h5>
    <p class="card-text">Django makes it easier to build better web apps more quickly and with less code.</p>
    <a href="https://www.djangoproject.com/" class="btn btn-success" target="_blank">Go to Django</a>
  </div>
</div>
<br>
  <div class="card" >
  <div class="card-body">
    <h5 class="card-title">Tags</h5>


       {% for tag in most_comm_tags %}
              <a class="btn btn-info" href="{% url 'post_by_tag' tag.pk %}" role="button">{{ tag.name }}</a>
      {% endfor %}

  </div>
</div>
